@import 'partials/colors', 'partials/typos', 'partials/utilities';

*, ::after, ::before {
    box-sizing: border-box;
}


body {
    margin: 0 auto;
    background-color: $background;

    header {
        @include flexColumnCenter;
        margin-top:5px;
        
        .logo {
            width: 160px;
        }

        .headBar {
            width: 300px;
            height:2px;
            background-color: $primary;
            box-shadow: 0px 2px 4px $primaryShadow;
        }
    }
    
    nav {
        padding: 10px;
        @include flexRow;
        justify-content: space-between;
        .navBtn {
            width: 46px;
            height: 46px;
        }

        a {
            @include flexRow;
            align-items: center;
            @include semiBold12;
        }
        .addTask a{
            color: $primary;
        }
        .logOut a{
            color: $red;
        }
    }

    main {
        @include flexColumnCenter;

        #presentation {
            @include flexColumnCenter;
            margin-top: 50px;
            padding:10px;
            text-align: center;
            h1 {
                @include black24;
                
            }
            p {
                @include semiBold16;
            }
        }

        #index {
            @include flexColumnCenter;
            margin-top:30px;
            
            .indexButton {
                width: 240px;
                margin: 45px; 

                a {
                    background-color: $primary;                   
                    display: block;
                    width: 100%;
                    height: 100%;
                    color:white;
                    @include semiBold16;
                    padding: 10px;
                    border-radius: 12px;
                    box-shadow: 0px 2px 4px $primaryShadow;
                    &:hover {
                        background-color: $secondary;
                        color:$bgrey;
                        box-shadow: 0px 2px 4px $secondaryShadow; 
                    }
                }

            }
        }
        
        #userTitle {
            @include flexRowCenter;
            h2 {
                color:$bgrey;
                @include semiBold16;
                margin:0;
                span {
                    @include black16;
                }
            }
        }

        #listTitle {
            margin-top:10px;
            @include flexColumnCenter;
            width: 90%;
            p {
                color:$bgrey;
                @include semiBold12;
                margin:0;
            }
        }

        .listBar {
            width: 100%;
            height:2px;
            background-color: $bgrey;
            box-shadow: 0px 2px 4px $bgreyShadow;
        }
        
        .navList {
            @include flexRow;
            margin:0;
            padding:0;
            width: 100%;
            li {
                list-style: none;
                a {
                    @include flexRow;
                    align-items: center;
                    color: $bgrey;
                    @include semiBold12;
                    img {margin-left: 5px;
                        width:12px;}
                }
            }
        }

        .check {
            width: 12%;
            a, p {
                justify-content: center;
            }
        }
        .task {
            width: 53%;
            a, p {justify-content: center;}
        }
        .priority {
            width: 10%;
            a, p {justify-content: center;}
        }
        .endDate {
            width: 25%;
            margin-right: 5px;
            a, p {justify-content: flex-end;}
        }

        .container {
            @include flexColumn;
            justify-content: center;
            margin-top: 5px;
            width:90%;
            padding-bottom: 30px;

            .listLink {
                
                &:nth-child(odd){
                    background-color: $secondary;
                }
                
                &:hover {
                    background-color: $primaryShadow;
                }

                .mainList {
                @include flexRow;
                align-items: center;
                margin:0;
                padding:0;
                width: 100%;

                    li {
                        list-style: none;
                        img {
                            margin-top: 2px;
                            width:30px;
                        }
                        p {
                            margin:0;
                            @include flexRow;
                            align-items: center;
                            color: $bgrey;
                            @include semiBold12;
                        }
                    }                
                }
            }

            .alert {
                color:$red;
                @include flexRowCenter;
                @include semiBold12;
            }

            .taskForm, #userConnect, #userAdd {
                @include semiBold12;
                margin:auto;
                width: 100%;
                margin-top:10px;

                .inputSubmit {
                margin-top:60px;
                @include flexRowCenter;
                    input, button {
                        margin: 0 20px;
                    }
                }

                .inputButton, .formInput{
                    @include flexRow;
                    margin-bottom: 10px;
                }

                .inputButton {
                }
                                
                .modalContent {
                    @include semiBold12;
                }

                .formInput {
                    justify-content: space-between;
                    align-items: center;
                    display: flex;

                    .label {margin:5px;}

                    p {margin:0;}

                    input, select, textarea, .taskContent, .pTask {
                        padding: 10px;
                        border: none;
                        background-color: $secondary;
                        box-shadow: 0px 2px $secondaryShadow;
                        color: $bgrey;
                        border-radius: 12px;
                        @include semiBold12;
                        flex: 1;
                    }

                    .taskImg {
                        width: 200px;
                        height: 200px;
                        margin:auto;
                        border: 1px solid $bgrey;
                        border-radius: 12px;
                        overflow: hidden;
                        &:hover {
                            box-shadow: 3px 3px 4px $bgreyShadow ; 
                        }
                    }
                }

                .area {
                    @include flexColumn;
                    align-items: flex-start;
                    textarea, .pTask {
                        width: 100%;
                        resize: none;
                    }
                }

                .status {
                    justify-content: flex-start;
                }

            }
        }
    }
}



@media screen and (min-width:768px) {
    body {
        width: 60%;       

        header {
            margin-top:10px;
                .logo {
                }
    
                .headBar {
                }
        }
        
        nav {
            padding: 20px;

            .navBtn {
            }
    
            a {
                @include semiBold16;
            }
            .addTask a{
                
            }
            .logOut a{
            }
        }
    
        main {   
            
            #presentation {
                h1 {
                    @include black48;
                }
                p {
                    @include semiBold24;
                }
            }

            #index {            
                
                .indexButton {
    
                    a {
                        @include semiBold24;
                    }
                    
                }
            }
            
            #userTitle {
                p {
                    @include semiBold24;
                    span {
                        @include black24;
                    }
                }
            }

            #listTitle {
                margin-top:30px;
                p {
                    @include semiBold16;
                }

            }

            .listBar {   
            }
            
            .navList {
                li {
                    a {
                        @include semiBold16;
                    }
                }
                
            }

            .check {}

            .task {}

            .priority {}

            .endDate {
                margin-right: 25px;
            }

            .container {
                margin-top: 20px;
                .alert {
                }

                .listLink {
    
                    .mainList {
   
                        li {
                            img{width: 50px;}
                            p {
                                @include semiBold16;
                            }
                        }                
                    }
                }

                .taskForm, #userConnect, #userAdd {
                    @include semiBold16;
                    width: 90%;
                    
                    .btn {@include semiBold16;}
            
                    .inputSubmit {                    
                    }

                    .inputButton, .formInput{
                    }

                    .inputButton {
                    }

                    .modalContent {
                        @include semiBold16;
                        left:calc(50% - 130px);
                        width: 260px;
                        padding: 25px 0;
                    }

                    .formInput {
                        @include semiBold16;

                        .label {}

                        .labelCheck {
                            width: 120px;
                            height:38px;
                        }
                        
                        .labelCheck:before {
                            top:8px;
                        }
    
                        .labelCheck:after {
                            width:28px;
                            height:28px;
                        }
    
                        .box:checked + .labelCheck:after{
                            transform: translateX(82px);
                        }

                        p {@include semiBold16;}

                        input, select, textarea, .taskContent, .pTask {
                            @include semiBold16;
                        }
                    }

                    .area {
                        textarea {
                        }
                    }
                }
            }
        }
    }
}