@import 'partials/colors', 'partials/typos', 'partials/utilities';

*, ::after, ::before {
    box-sizing: border-box;
}


body {
    margin: 0 auto;
    background-color: $background;

    header {
        @include flexColumnCenter;
        margin-top:5px;
        
        .logo {
            width: 160px;
        }

        .headBar {
            width: 300px;
            height:2px;
            background-color: $primary;
            box-shadow: 0px 2px 4px $primaryShadow;
        }
    }
    
    nav {
        padding: 20px;
        @include flexRow;
        justify-content: space-between;
        .navBtn {
            width: 46px;
            height: 46px;
        }

        a {
            @include flexRow;
            align-items: center;
            @include semiBold12;
        }
        .addTask a{
            color: $primary;
        }
        .logOut a{
            color: $red;
        }
    }

    main {

        #presentation {
            @include flexColumnCenter;
            margin-top: 50px;
            padding:10px;
            text-align: center;
            h1 {
                @include black24;
                
            }
            p {
                @include semiBold16;
            }
        }

        #index {
            @include flexColumnCenter;
            margin-top:30px;
            
            .indexButton {
                width: 240px;
                margin: 45px; 

                a {
                    background-color: $primary;                   
                    display: block;
                    width: 100%;
                    height: 100%;
                    color:white;
                    @include semiBold16;
                    padding: 10px;
                    border-radius: 12px;
                    box-shadow: 0px 2px 4px $primaryShadow;
                    &:hover {
                        background-color: $secondary;
                        color:$bgrey;
                        box-shadow: 0px 2px 4px $secondaryShadow; 
                    }
                }

            }
        }
        
        #listTitle {
            margin-top:10px;
            @include flexColumnCenter;
            p {
                color:$bgrey;
                @include semiBold12;
                margin:0;
            }
        }

        .listBar {
            width: 330px;
            height:2px;
            background-color: $bgrey;
            box-shadow: 0px 2px 4px $bgreyShadow;
        }
        
        .navList {
            @include flexRowCenter;
            margin:0;
            padding:0;
            width: 330px;
            li {
                list-style: none;
                a {
                    @include flexRow;
                    align-items: center;
                    color: $bgrey;
                    @include semiBold12;
                    img {margin-left: 5px;
                        width:12px;}
                }
            }
        }

        .check {
            width: 10%;
            a, p {justify-content: center;}
        }
        .task {
            width: 55%;
            a, p {justify-content: center;}
        }
        .priority {
            width: 10%;
            a, p {justify-content: center;}
        }
        .endDate {
            width: 25%;
            margin-right: 5px;
            a, p {justify-content: flex-end;}
        }

        .container {
            @include flexColumnCenter;
            margin-top: 5px;

            .mainList {
                @include flexRow;
                align-items: center;
                margin:0;
                padding:0;
                width: 330px;
                &:nth-child(odd){
                    background-color: $secondary;
                }

                li {
                    list-style: none;
                    img {width:30px;}
                    p {
                        margin:0;
                        @include flexRow;
                        align-items: center;
                        color: $bgrey;
                        @include semiBold12;

                    }
                }
                
            }

            .alert {
                color:$red;
                @include flexRowCenter;
                @include semiBold12;
            }

            .taskForm, #userConnect, #userAdd {
                width: 320px;
                margin-top:10px;
                .btn {@include semiBold12;}

                .inputSubmit {
                margin-top:60px;
                @include flexRowCenter;
                    input {
                        margin: 0 20px;
                    }
                }

                .inputButton, .formInput{
                    @include flexRow;
                    margin-bottom: 10px;
                }

                .inputButton {
                }

                .formInput {
                    @include semiBold12;
                    justify-content: space-between;
                    align-items: center;
                    display: flex;

                    label {margin:5px;}

                    p {margin:0; @include semiBold12;}

                    input, select, textarea, .taskContent {
                        padding: 10px;
                        border: none;
                        background-color: $secondary;
                        color: $bgrey;
                        border-radius: 12px;
                        @include semiBold12;
                        flex: 1;
                    }
                
                }
            

                .area {
                    @include flexColumn;
                    align-items: flex-start;
                    textarea {
                        width: 100%;
                        resize: none;
                    }
                }
            }
        }
    }
}



@media screen and (min-width:768px) {
    body {
        width: 60%;

        header {
            margin-top:10px;
                .logo {
                }
    
                .headBar {
                }
        }
        
        nav {

            .navBtn {
            }
    
            a {
                @include semiBold16;
            }
            .addTask a{
                
            }
            .logOut a{
            }
        }
    
        main {   
            #presentation {
                h1 {
                    @include black48;
                }
                p {
                    @include semiBold24;
                }
            }

            #index {            
                
                .indexButton {
    
                    a {
                        @include semiBold24;
                    }
                    
                }
            }
            
            #listTitle {
                margin-top:30px;
                p {
                    @include semiBold16;
                }

            }

            .listBar {
                width: 860px;
            }
            
            .navList {
                width: 860px;;
                li {
                    a {
                        @include semiBold16;
                    }
                }
                
            }

            .check {}

            .task {}

            .priority {}

            .endDate {
                margin-right: 25px;
            }

            .container {
                margin-top: 20px;
                .alert {
                }

                .mainList {
                    width: 860px;
                    li {
                        img {width:50px;}
                        p,a {
                            @include semiBold16;
                        }
                    } 
                }

                .taskForm, #userConnect, #userAdd {
                    width: 640px;

                    .btn {@include semiBold16;}

                    .inputSubmit {                    
                    }

                    .inputButton, .formInput{
                    }

                    .inputButton {
                    }

                    .formInput {
                        @include semiBold16;

                        input, select,textarea, .taskContent {
                            @include semiBold16;
                        }
                    }

                    .area {
                        textarea {
                        }
                    }
                }
            }
        }
    }
}