@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@600;900&display=swap);
@charset "UTF-8";
* {
  font-family: "Nunito";
}

a {
  text-decoration: none;
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
}

.dNone {
  display: none;
}

.btn {
  font-weight: 600;
  font-size: 12px;
  border: none;
  border-radius: 12px;
  padding: 10px;
  color: #e4f7ff;
  background-color: #3ec5ff;
  box-shadow: 0px 2px 4px rgba(62, 197, 255, 0.25);
}
.btn a {
  color: #e4f7ff;
}
.btn.red {
  background-color: #ff3e3e;
  box-shadow: 0px 2px 4px rgba(255, 62, 62, 0.25);
}
.btn:hover {
  background-color: #e4f7ff;
  color: #111;
  box-shadow: 0px 2px 4px rgba(228, 247, 255, 0.25);
}
.btn:hover a {
  color: #111;
}
.btn:hover.red {
  background-color: rgba(255, 62, 62, 0.25);
}

.labelCheck {
  width: 100px;
  height: 36px;
  background-color: #e4f7ff;
  box-shadow: 0px 2px 4px rgba(228, 247, 255, 0.25);
  position: relative;
  border-radius: 12px;
  transition: all 0.3s;
}

.labelCheck:before {
  content: "en cours";
  position: absolute;
  top: 10px;
  left: 40px;
  transition: all 0.3s;
}

.labelCheck:after {
  content: "";
  width: 26px;
  height: 26px;
  background-color: #3ec5ff;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  transition: all 0.3s;
}

.box:checked + .labelCheck:after {
  transform: translateX(62px);
  background-color: #e4f7ff;
}

.box:checked + .labelCheck:before {
  content: "terminée";
  transform: translateX(-28px);
}

.box:checked + .labelCheck {
  background-color: #3ec5ff;
  box-shadow: 0px 2px 4px rgba(62, 197, 255, 0.25);
}

.box:checked + .check:after {
  content: "terminée";
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 90px);
  background-color: #fafdff;
  box-shadow: 2px 2px 4px rgba(17, 17, 17, 0.25);
  margin: auto;
  padding: 15px 0;
  width: 180px;
}
.modalContent p {
  margin: 5px;
}
.modalContent input, .modalContent button {
  margin: 0 15px;
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #fafdff;
}
body header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}
body header .logo {
  width: 160px;
}
body header .headBar {
  width: 300px;
  height: 2px;
  background-color: #3ec5ff;
  box-shadow: 0px 2px 4px rgba(62, 197, 255, 0.25);
}
body nav {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body nav .navBtn {
  width: 46px;
  height: 46px;
}
body nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
}
body nav .addTask a {
  color: #3ec5ff;
}
body nav .logOut a {
  color: #ff3e3e;
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main #presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
}
body main #presentation h1 {
  font-weight: 900;
  font-size: 24px;
}
body main #presentation p {
  font-weight: 600;
  font-size: 16px;
}
body main #index {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
body main #index .indexButton {
  width: 240px;
  margin: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body main #index .indexButton a {
  font-weight: 600;
  font-size: 16px;
  width: 100%;
}
body main #userTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body main #userTitle h2 {
  color: #111;
  font-weight: 600;
  font-size: 16px;
  margin: 0;
}
body main #userTitle h2 span {
  font-weight: 900;
  font-size: 16px;
}
body main #listTitle {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
body main #listTitle p {
  color: #111;
  font-weight: 600;
  font-size: 12px;
  margin: 0;
}
body main .listBar {
  width: 100%;
  height: 2px;
  background-color: #111;
  box-shadow: 0px 2px 4px rgba(17, 17, 17, 0.25);
}
body main .navList {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100%;
}
body main .navList li {
  list-style: none;
}
body main .navList li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #111;
  font-weight: 600;
  font-size: 12px;
}
body main .navList li a img {
  margin-left: 5px;
  width: 12px;
}
body main .check {
  width: 12%;
}
body main .check a, body main .check p {
  justify-content: center;
}
body main .task {
  width: 53%;
}
body main .task a, body main .task p {
  justify-content: center;
}
body main .priority {
  width: 10%;
}
body main .priority a, body main .priority p {
  justify-content: center;
}
body main .endDate {
  width: 25%;
  margin-right: 5px;
}
body main .endDate a, body main .endDate p {
  justify-content: flex-end;
}
body main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
  width: 90%;
  padding-bottom: 30px;
}
body main .container .listLink:nth-child(odd) {
  background-color: #e4f7ff;
}
body main .container .listLink:hover {
  background-color: rgba(62, 197, 255, 0.25);
}
body main .container .listLink .mainList {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
body main .container .listLink .mainList li {
  list-style: none;
}
body main .container .listLink .mainList li img {
  margin-top: 2px;
  width: 30px;
}
body main .container .listLink .mainList li p {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #111;
  font-weight: 600;
  font-size: 12px;
}
body main .container .alert {
  color: #ff3e3e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
}
body main .container .taskForm, body main .container #userConnect, body main .container #userAdd {
  font-weight: 600;
  font-size: 12px;
  margin: auto;
  width: 100%;
  margin-top: 10px;
}
body main .container .taskForm .inputSubmit, body main .container #userConnect .inputSubmit, body main .container #userAdd .inputSubmit {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body main .container .taskForm .inputSubmit input, body main .container .taskForm .inputSubmit button, body main .container #userConnect .inputSubmit input, body main .container #userConnect .inputSubmit button, body main .container #userAdd .inputSubmit input, body main .container #userAdd .inputSubmit button {
  margin: 0 20px;
}
body main .container .taskForm .inputButton, body main .container .taskForm .formInput, body main .container #userConnect .inputButton, body main .container #userConnect .formInput, body main .container #userAdd .inputButton, body main .container #userAdd .formInput {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
body main .container .taskForm .modalContent, body main .container #userConnect .modalContent, body main .container #userAdd .modalContent {
  font-weight: 600;
  font-size: 12px;
}
body main .container .taskForm .formInput, body main .container #userConnect .formInput, body main .container #userAdd .formInput {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
body main .container .taskForm .formInput .label, body main .container #userConnect .formInput .label, body main .container #userAdd .formInput .label {
  margin: 5px;
}
body main .container .taskForm .formInput p, body main .container #userConnect .formInput p, body main .container #userAdd .formInput p {
  margin: 0;
}
body main .container .taskForm .formInput input, body main .container .taskForm .formInput select, body main .container .taskForm .formInput textarea, body main .container .taskForm .formInput .taskContent, body main .container .taskForm .formInput .pTask, body main .container #userConnect .formInput input, body main .container #userConnect .formInput select, body main .container #userConnect .formInput textarea, body main .container #userConnect .formInput .taskContent, body main .container #userConnect .formInput .pTask, body main .container #userAdd .formInput input, body main .container #userAdd .formInput select, body main .container #userAdd .formInput textarea, body main .container #userAdd .formInput .taskContent, body main .container #userAdd .formInput .pTask {
  padding: 10px;
  border: none;
  background-color: #e4f7ff;
  box-shadow: 0px 2px rgba(228, 247, 255, 0.25);
  color: #111;
  border-radius: 12px;
  font-weight: 600;
  font-size: 12px;
  flex: 1;
}
body main .container .taskForm .formInput .taskImg, body main .container #userConnect .formInput .taskImg, body main .container #userAdd .formInput .taskImg {
  width: 200px;
  height: 200px;
  margin: auto;
  border: 1px solid #111;
  border-radius: 12px;
  overflow: hidden;
}
body main .container .taskForm .formInput .taskImg:hover, body main .container #userConnect .formInput .taskImg:hover, body main .container #userAdd .formInput .taskImg:hover {
  box-shadow: 3px 3px 4px rgba(17, 17, 17, 0.25);
}
body main .container .taskForm .area, body main .container #userConnect .area, body main .container #userAdd .area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body main .container .taskForm .area textarea, body main .container .taskForm .area .pTask, body main .container #userConnect .area textarea, body main .container #userConnect .area .pTask, body main .container #userAdd .area textarea, body main .container #userAdd .area .pTask {
  width: 100%;
  resize: none;
}
body main .container .taskForm .status, body main .container #userConnect .status, body main .container #userAdd .status {
  justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  body {
    width: 60%;
  }
  body header {
    margin-top: 10px;
  }
  body nav {
    padding: 20px;
  }
  body nav a {
    font-weight: 600;
    font-size: 16px;
  }
  body main #presentation h1 {
    font-weight: 900;
    font-size: 48px;
  }
  body main #presentation p {
    font-weight: 600;
    font-size: 24px;
  }
  body main #index .indexButton {
    width: 320px;
  }
  body main #index .indexButton a {
    font-weight: 600;
    font-size: 24px;
  }
  body main #userTitle p {
    font-weight: 600;
    font-size: 24px;
  }
  body main #userTitle p span {
    font-weight: 900;
    font-size: 24px;
  }
  body main #listTitle {
    margin-top: 30px;
  }
  body main #listTitle p {
    font-weight: 600;
    font-size: 16px;
  }
  body main .navList li a {
    font-weight: 600;
    font-size: 16px;
  }
  body main .endDate {
    margin-right: 25px;
  }
  body main .container {
    margin-top: 20px;
  }
  body main .container .listLink .mainList li img {
    width: 50px;
  }
  body main .container .listLink .mainList li p {
    font-weight: 600;
    font-size: 16px;
  }
  body main .container .taskForm, body main .container #userConnect, body main .container #userAdd {
    font-weight: 600;
    font-size: 16px;
    width: 90%;
  }
  body main .container .taskForm .btn, body main .container #userConnect .btn, body main .container #userAdd .btn {
    font-weight: 600;
    font-size: 16px;
  }
  body main .container .taskForm .modalContent, body main .container #userConnect .modalContent, body main .container #userAdd .modalContent {
    font-weight: 600;
    font-size: 16px;
    left: calc(50% - 130px);
    width: 260px;
    padding: 25px 0;
  }
  body main .container .taskForm .formInput, body main .container #userConnect .formInput, body main .container #userAdd .formInput {
    font-weight: 600;
    font-size: 16px;
  }
  body main .container .taskForm .formInput .labelCheck, body main .container #userConnect .formInput .labelCheck, body main .container #userAdd .formInput .labelCheck {
    width: 120px;
    height: 38px;
  }
  body main .container .taskForm .formInput .labelCheck:before, body main .container #userConnect .formInput .labelCheck:before, body main .container #userAdd .formInput .labelCheck:before {
    top: 8px;
  }
  body main .container .taskForm .formInput .labelCheck:after, body main .container #userConnect .formInput .labelCheck:after, body main .container #userAdd .formInput .labelCheck:after {
    width: 28px;
    height: 28px;
  }
  body main .container .taskForm .formInput .box:checked + .labelCheck:after, body main .container #userConnect .formInput .box:checked + .labelCheck:after, body main .container #userAdd .formInput .box:checked + .labelCheck:after {
    transform: translateX(82px);
  }
  body main .container .taskForm .formInput p, body main .container #userConnect .formInput p, body main .container #userAdd .formInput p {
    font-weight: 600;
    font-size: 16px;
  }
  body main .container .taskForm .formInput input, body main .container .taskForm .formInput select, body main .container .taskForm .formInput textarea, body main .container .taskForm .formInput .taskContent, body main .container .taskForm .formInput .pTask, body main .container #userConnect .formInput input, body main .container #userConnect .formInput select, body main .container #userConnect .formInput textarea, body main .container #userConnect .formInput .taskContent, body main .container #userConnect .formInput .pTask, body main .container #userAdd .formInput input, body main .container #userAdd .formInput select, body main .container #userAdd .formInput textarea, body main .container #userAdd .formInput .taskContent, body main .container #userAdd .formInput .pTask {
    font-weight: 600;
    font-size: 16px;
  }
}
