$background: #fafdff;
$primary: #3ec5ff;
$primaryShadow: rgba(62,197,255, .25);
$secondary: #e4f7ff;
$secondaryShadow:rgba(228,247,255,.25);
$bgrey : #111;
$bgreyShadow: rgba(17,17,17, .25);
$red : #ff3e3e;
$redShadow : rgba(255,62,62,.25);
$green: #3eff74;
$greenShadow: rgba(62,255,116,.25);