@mixin flexColumn{
    display: flex;
    flex-direction: column;
}

@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin flexColumnCenter {
    @include flexColumn;
    align-items: center;
}

@mixin flexRowCenter {
    @include flexRow;
    justify-content: center;
}

a {
    text-decoration: none;
    text-align: center;
}

img {
    width:100%;
    height:100%;
}

.dNone {display:none;}

// Mise en forme des boutons
.btn {
    border:none;
    border-radius: 12px;
    padding:10px;
    color:$secondary;
    background-color: $primary;
    box-shadow: 0px 2px 4px $primaryShadow;
    a {color:$secondary;}

    &.red {
        background-color: $red;
        box-shadow: 0px 2px 4px $redShadow;
    }

    &:hover {
        background-color: $secondary;
        color:$bgrey;
        box-shadow: 0px 2px 4px $secondaryShadow;
        a {color:$bgrey;}
        &.red {
            background-color: $redShadow;
        }
    }
}

// Transformation bouton check en switch

.labelCheck {
    width: 100px;
    height:36px;
    background-color: $secondary;
    box-shadow: 0px 2px 4px $secondaryShadow;
    position: relative;
    border-radius: 12px;
    transition: all .3s;
}

.labelCheck:before {
    content:"en cours";
    position: absolute;
    top:10px;
    left:40px;
    transition: all .3s;
}

.labelCheck:after {
    content:"";
    width:26px;
    height:26px;
    background-color: $primary;
    position: absolute;
    top:5px;
    left:5px;
    border-radius: 50%;
    transition: all .3s;
}

.box:checked + .labelCheck:after{
    transform: translateX(62px);
    background-color: $secondary;
}

.box:checked + .labelCheck:before{
    content:"terminée";
    transform: translateX(-28px);
}

.box:checked + .labelCheck {
    background-color: $primary;
    box-shadow: 0px 2px 4px $primaryShadow;
}

                    
.box:checked + .check:after {
    content:"terminée";
}

// Mise en forme Modale

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalContent {
    @include flexColumnCenter;
    position: absolute;
    bottom: 30px;
    left:calc(50% - 90px);
    background-color: $background;
    box-shadow: 2px 2px 4px $bgreyShadow;
    margin: auto;
    padding: 15px 0;
    width: 180px;
    p {
        margin:5px;
    }
    input, button {margin: 0 15px;}
  }