@mixin flexColumn{
    display: flex;
    flex-direction: column;
}

@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin flexColumnCenter {
    @include flexColumn;
    align-items: center;
}

@mixin flexRowCenter {
    @include flexRow;
    justify-content: center;
}

a {
    text-decoration: none;
    text-align: center;

}

img {
    width:100%;
    height:100%;
}

button {
    margin:0;
    border:0;
    border-radius: 12px;
}

.btn {
    border:none;
    border-radius: 12px;
    padding:10px;
    color:$secondary;
    background-color: $primary;
    box-shadow: 0px 2px 4px $primaryShadow;
    a {color:$secondary;}

    &.red {
        background-color: $red;
        box-shadow: 0px 2px 4px $redShadow;
    }

    &:hover {
        background-color: $secondary;
        color:$bgrey;
        box-shadow: 0px 2px 4px $secondaryShadow;
        a {color:$bgrey;}
        &.red {
            background-color: $redShadow;
        }
    }
}

.dNone {display:none;}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalContent {
    @include flexColumnCenter;
    position: absolute;
    bottom: 30px;
    left:calc(50% - 90px);
    background-color: $background;
    box-shadow: 2px 2px 4px $bgreyShadow;
    margin: auto;
    padding: 5px;
    width: 180px;
    p {
        margin:5px;
    }
    input, button {margin: 0 15px;}
  }